<div class="footer text-white" style="padding-top: 4%;">
  <div class="row" style="background-color: rgb(102, 99, 99);">
    <div class="col-10 offset-1">
      <div class="row">
        <div class="col-4" style="padding-right: 10%;">
          <h6 style="padding-bottom: 3%;">Acerca de la compañia</h6>
          <p style="font-size: small;">Esta emresa fue creada en la Universidad Tecnologica de los Valles Centrales de
            Oaxaca,
            fue parte de un proyecto muy importante de integradora. Nuestra empresa va enfocada a la
            ayuda de personas indigenas.
          </p>
        </div>
        <div class="col-3" style="padding-left: 10%;">
          <h6 style="padding-bottom: 3%;">Redes Sociales</h6>
          <p style="font-size: small;"><i class="fab fa-facebook"></i> Siguenos en facebook</p>
          <p style="font-size: small;"><i class="fab fa-youtube"></i> Siguenos en Youtube</p>
        </div>
        <div class="col-3" style="padding-left: 10%;">
          <h6 style="padding-bottom: 3%;">Contacto</h6>
          <p style="font-size: small;"><i class="fas fa-home"></i> Av. Universidad S/N
            San Pablo Huxtepec
            Zimatlán, Oax.
            C.P. 71270
          </p>
          <p style="font-size: small;"><i class=" fas fa-mobile-alt"></i> 9513040494</p>
          <p style="font-size: small;"><i class=" fas fa-envelope"> Contanc@example.com</i></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="background-color: rgb(65, 64, 64);">
    <div class="col-10 offset-1">
      <p style="font-size: small;">Copyright &copy; 2020 Grow Up - All Rights Reserved</p>
      <p style="font-size: small;" class="text-left">Grow Up Asosciasion</p>
    </div>
  </div>
</div>